<!-- <p>
  {{users | json}}
</p>
<table>
  <th>first name </th><th>last name</th><th>Image</th>
  <tr *ngFor = "let y of users">
  <td>{{y.first_name}}</td>
  <td>{{y.last_name}}</td>
  <td><img width=100 height=100 [src]="y.avatar"></td>
  </tr>
</table> -->
<!-- <p>
  {{places | json}}
</p>

<table>
  <th>name</th><th>year</th><th>color</th><th>pantonevalue</th>
  <tr *ngFor = "let p of places">
    <td>{{p.name}}</td>
    <td>{{p.year}}</td>
    <td>{{p.color}}</td>
    <td>{{p.pantone_value}}</td>
  </tr>
</table> -->

<!-- <p *ngIf="user">
  first name : {{user.first_name}}
</p> -->

<!-- <p>
  Addition of  two number is {{Result}}
</p> -->