
<!-- <p>
  first name {{fnm}}
</p>
<p>
  Last name is {{lnm}}
</p>
<p>
  my Age is {{age}}
</p>
<p>
  doctore email address is {{doctor_email }}
</p>
<p>
  doctor specialization is {{doctor_specialization}}

</p><p>
  Doctor name is {{doctor_name}}
</p>
<p>
  Doctore age is {{age}}
</p>
 <p>
  doctore contact number is {{doctor_number}}
</p>


first name : <input type = "text" [value]= "fnm"><br>

last name : <input type="text" [value]="lnm"> --> 

<!-- <app-average></app-average> -->
<!-- <app-myhttp></app-myhttp> -->
<!-- <app-employee></app-employee> -->
<!-- <app-product></app-product> -->
<!-- <app-rective></app-rective> -->
<!-- <app-reacbuild></app-reacbuild> -->
<app-prodductform></app-prodductform>
<!-- <app-login></app-login> -->
<!-- <app-employeFrm></app-employeFrm> -->
