<!-- <p>
  match : <input [value]="m">
</p>
<p>
  english : <input [value]="m">
</p>
<p>
  Hindi : <input [value]="h">
</p>
<p>
  Che : <input [value]="c">
</p>
<p>
  phy : <input [value]="p">
</p>
<button (click)="allavrg()">Avg</button>
<p>
  the average is {{average}}
</p> -->

<!-- <p>
  phy : <input [(ngModel)]= "phy">
</p>
<p>
  chemistory : <input [(ngModel)]= "chem">
</p>
<p>
  hindi : <input [(ngModel)]= "hindi">
</p>
<p>
  english : <input [(ngModel)]= "eng">
</p>
<p>
  mathematics : <input [(ngModel)]= "math">
</p>

<button (click)="avgall()">AVG</button>

<p>
  average is {{totalavg}}
</p> -->

<p>
  lenght of rac : <input [(ngModel)]="lenght"> {{lenght}}
</p>
<p>
  Bridth of rac : <input [(ngModel)]="Bridth"> {{lenght}}
</p>
<p>
  <button (click)="area()">AREA</button>
  <button (clic)="Perimeter()">PER</button>
</p>
<p>
  Area of rec : {{A}}
</p>
<p>
  Perimeter of arc : {{peri}}
</p>
